h1 Register

form.users(method='post', action='/users')
  !=partial('fields', { locals: { user: user } })
  p 
    input(type='submit', value='Register')
    span \ or 
      a(href='/sessions/new') Log In
